*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
nav{
    background:black;
    height: 75px;
    width: 100%;
    transition: 3.5s;
    position: fixed;
    z-index: 999;
   


}
.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    line-height: 75px;
    padding: 0 50px;
}
ul{
    float: right;
    margin-right: 25px;
}
li{
    display: inline-block;
    line-height: 75px;


}
a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border: 1px;
    letter-spacing: 2px;
    font-weight: bold;


}
a:hover{
    color: yellow;
   background: rebeccapurple;
}
.checkbtn{
    font-size: 30px;
    font-weight: bold;
    display: none;
    float: right;
    line-height: 75px;
    transform: 05s;
    cursor: pointer;
    color: white;
}
#check{
    display: none;
}
@media (max-width:800px){
    .logo{
        font-size: 25px;
        padding-left: 40px;

    }
a{
    font-size: 14px;
    
}
}
@media (max-width:800px){
    .checkbtn{
        display: block;
    }
    nav{
        height: 80px;
    }
    ul{
        position: fixed;
        background: silver;
        width: 100%;
        height: 100vh;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
       
    }
    li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    a:hover{
        font-size: 20px;
        background: none;
        
    }
    #check:checked ~ ul{
        left: 0;
    }
    }
    nav::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: yellow;
        top: 75px;
    }
    .link::before{
        content: attr(data-text);
        position: absolute;
        left: 0;
        top: 0;
        width:100%;
        color: red;
}
.l{
    width: 400px;
    height: 600px;
    background: silver;
    position: relative;
    bottom: -76px;
}
.l::before{
    content: "";
    width: 100%;
    height: 4px;
    background-color: yellow;
    position: absolute;
}
.s{
    font-size: 25px;
    margin-top: 40px;
}
.t{
    font-size: 30px;
    color: red;
    position: relative;
   
    left: 190px;
    top: 20px;
}
.m{
    float: right;
    position: relative;
    bottom: 530px;
   
    width: 930px;
    background: gray;
    height: 700px;
    transition: 4s;
}
.h{
    position: relative;
    left: 100px;
    transition: 2.5s;
}
.dropdown li{
    display: block;
    

}
.dropdown{
    width: 19%;
    position: absolute;
    z-index: 999;
  display: none;
    background: black;
    transition: 4s;
    transform: translateX(-69%);
    text-align: center;
    
}
ul li:hover ul.dropdown{
    display: block;
}
.dropdown li::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: yellow;
    transform: translateX(-60%);
}
.dropdown a{
    font-size: 20px;
}
.hover-box{
    width: 300px;
    height: 200px;
   border: 2px solid black;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
   
    

}
.p{
 display: flex;
    flex-wrap: wrap;  
    background: silver;  
  
}
h3{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    color: white;
    background-color: black;
    padding: 5px 8px;
    font-weight: normal;
    border-top: 2px solid;
    border-right: 2px solid;
    border: 2px solid;
    transform: translate(0 ,100%);
    transition: .4s;

}
.hover-box:hover h3{
    transform: translate(0,0);
}
.u{
    transition: 0.4s;
    background-position: center;
    background-attachment: fixed;
    width: 300px;
    height: 200px;
}
.hover-box:hover .u{
    transform: scale(1.5);
}
.hg{
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: bold;
}
input{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    width: 300px;

    
}
.oi{
    width: 100%;
    height: 100vh;
    background: silver;
    text-align: center;
}
button{
    width: 90px;
    height: 30px;
    margin-top: 20px;
}

